body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(222,123,250);
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-size: 7vw;
}

h1{
  font-size: 7vw;
  margin: 4rem;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  .logo-corner img{
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  @keyframes move {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.9);
    }
    75% {
      transform: scale(1);
    }
  }
  .logo-corner img:hover {
    animation: move 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
  }
.App-logo {
  height: 70vmin;
  pointer-events: none;
}

.App-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.App {
  text-align: center;
}

.topic-list li {
  list-style: none;
  display: inline;
  font-size: 30px;
  flex-direction: row;
  background-color: rgb(255,235,2);
  margin: 5vw;
  padding: 1rem;
  border-radius: 30px;color: rgb(20, 20, 20);
}
.topic-list{
  margin-top: 6vh;
}

@media only screen and (max-width: 900px) {
  .topic-list li {
    display: block; 
  }
}
.Calendly{
  height:580px;
  min-width:320px;
}